[submodule "dependencies/dcmrtstruct2nii"]
	path = dependencies/dcmrtstruct2nii
	url = git@github.com:Aarhus-RadOnc-AI/dcmrtstruct2nii.git

[submodule "dependencies/rt-utils"]
	path = dependencies/rt-utils
	url = git@github.com:mathiser/rt-utils.git
